@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --primary-color : #e11d48;
} 

.primary-color {
    color :#e11d48;
}

.light-bg-color {
    background-color: #f8fafc;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    margin: 0rem 5rem;
}

.navbar {
    background-color: var(--primary-color);
    color: #f8fafc;
    padding: 1rem;
    border-bottom-left-radius: 1.5rem;
} 

.nav-brand {
    font-weight: bold;
}

.nav-pills {
    text-align: right;
}

.non-bullet {
    list-style: none;
    padding: 0rem 0.5rem;
}

.inline {
    display: inline;
}

.link {
    color: #f8fafc;
    text-decoration: none;
    padding: 0rem 2rem;
}

.hero {
    text-align: center;
    background-color: rgb(254 226 226);    
    border-radius: 2rem;
    padding: 0rem 0rem 1.5rem;
}

.hero-img {
    max-width: 350px;
    text-align: center;
    display: inline;
    margin: auto;
    padding: 1.5rem 5rem 1.5rem;
}

.hero-img-2 {
    max-width: 100px;
}

.bold {
    font-weight: bold;
}

section {
    background-color: rgb(254 226 226);
    margin-left : 5rem;
    margin-right : 5rem;
    padding: 2rem;
    border-radius: 2rem;
}

.social-media {
    border-radius : 0rem;
    border-top-right-radius: 1.5rem;
    margin-bottom: 0rem;
    background-color: #e11d48;
    color: #f8fafc;
}

.project-button {
    border-radius: 1.5rem;
    background-color: #e11d48;
    color: #f8fafc;
    padding: 0.5rem 1rem 0.5rem;
}

.blog-button {
    background-color: #f8fafc;
    color: #e11d48;
    border : 1px solid var(--primary-color);
    border-radius: 1.5rem;
    padding: 0.5rem 1rem 0.5rem;
}

.center {
    text-align: center;
    margin: 10px auto 10px;
}

.favicon {
    color: #f8fafc;
    padding-top: 2rem;
}

.dummy-blog {
    background-color: #f8fafc;
     /* display: block;
    max-width: 50rem;
    margin: auto;  */
}


