@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --primary-color : #e11d48;
    --secondary-color : #be123c;
} 

.primary-color {
    color :#e11d48;
}

.secondary-color {
    color: #be123c;
}

body {
    font-family: 'Roboto', sans-serif;
    /* background-color: rgb(254 226 226); */
    /* background-color: #f8fafc; */
    margin: 0rem 5rem;
}

.navbar {
    background-color: var(--primary-color);
    color: #f8fafc;
    padding: 1rem;
    border-bottom-left-radius: 1.5rem;
} 

.nav-brand {
    font-weight: bold;
}

.nav-pills {
    text-align: right;
}

.non-bullet {
    list-style: none;
    padding: 0rem 0.5rem;
}

.inline {
    display: inline;
}

.link {
    /*color : #f8fafc;*/
    color: #f8fafc;
    text-decoration: none;
    font-weight: bold;
    padding: 0rem 2rem
}

.hero {
    text-align: center;
    background-color: rgb(254 226 226);    
    border-radius: 2rem;
    padding: 0rem 0rem 1.5rem;
}

.hero-img {
    max-width: 350px;
    text-align: center;
    display: flex;
    display: inline;
    margin: auto;
    padding: 1.5rem 5rem 1.5rem;
}

.hero-img-2 {
    max-width: 100px;
    display: inline;
}

.span-2 {
    font-weight: bold;
}

.social-media {
    border-radius : 0rem;
    border-top-right-radius: 1.5rem;
    margin-bottom: 0rem;
}

section {
    background-color: rgb(254 226 226);
    margin-left : 5rem;
    margin-right : 5rem;
    padding: 2rem;
    border-radius: 2rem;
}

.sec-2 {
    background-color: #f8fafc;
}

.project-button {
    border-radius: 1.5rem;
    background-color: #e11d48;
    color: #f8fafc;
    padding: 0.5rem 1rem 0.5rem;
}

.blog-button {
    background-color: #f8fafc;
    color: #e11d48;
    border : 1px solid var(--primary-color);
    border-radius: 1.5rem;
    padding: 0.5rem 1rem 0.5rem;

}

.center {
    text-align: center;
    margin: 10px auto 10px;
}


.link-2 {
    background-color: #e11d48;
    color : #f8fafc ;
    /* text-decoration: none;
    text-align: center;
    margin: auto; */
}

.favicon {
    color: #f8fafc;
    padding-top: 2rem;
}

